@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}
.dark body {
  background-color: black;
  color: white;
}

.light body {
  background-color: white;
  color: black;
}